extends layout

block content
  h1 Sorry, Insufficient Privileges
  h3 You must have an account to create, update, or delete

  hr
  p
    a(href='../login') Login
  p
    a(href='../register') Register
  p
    a(href="javascript:history.back()") Go Back

