extends layout

block content
  h1 Hmm, that's not supposed to happen.
  h2 #{error.status} Error - #{message}

  details 
    pre #{error.stack}

  p #{...error}

  p
    a(href="javascript:history.back()") Go Back

