doctype html
html(lang='en')
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
    link(rel="manifest", href="/favicons/site.webmanifest")
    link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg", color="#0081a6")
    link(rel="shortcut icon", href="/favicons/favicon.ico")
    meta(name="msapplication-TileColor", content="#2b5797")
    meta(name="msapplication-config", content="/favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module", src="/javascripts/darkMode.js" defer)

  body
    nav(class='sidebar')
      block sidebar
        div
          a(href='/') Home
          a(href='/data/recipes') All Recipes
          a(href='/data/categories') All Categories
          a(href='/data/tags') All Tags
        if user
          hr
          div
            a(href='/data/recipe/create') Create recipe
            a(href='/data/category/create') Create category
            a(href='/data/tag/create') Create tag
          hr
          div
            a(href='/user/all') Users
            a(href='/changelog') Update Log
        else
          hr
          div
            a(href='/login') Login
            a(href='/register') Register
        endif
        hr
        div
          form(method='POST' action='/search' name='searchForm')
            div(class='searchDiv')
              label(for='search' hidden) Search Bar
              input.form-control(type='text', placeholder='Search...' name='search'  id='search' required)
              button(type='submit' class='searchButton flex' aria-label='Search')
                img(src='/images/search-alt-2-regular-48.png' alt='Search Button Icon' width='24px' height="24px")

    main(class='content')
      block content

    footer(class='footer')
      button(id='dark-mode-toggle' className='dark-mode-toggle' aria-label='Button to toggle between light and dark mode') Dark Mode
      p © Copyright 2023, 
       a(href='https://jordankarp.github.io/') Jordan Karp
