doctype html
html(lang='en')
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='sidebar')
      block sidebar
        div
          a(href='/') Home
          a(href='/data/recipes') All Recipes
          a(href='/data/categories') All Categories
          a(href='/data/tags') All Tags
        if user
          hr
          div
            a(href='/user/all') Users
            a(href='/changelog') Update Log
            a(href='/data/recipe/create') Create recipe
            a(href='/data/category/create') Create category
            a(href='/data/tag/create') Create tag
        endif
        div
          form(method='POST' action='/search' name='searchForm')
            div(style='display:flex')
              label(for='search' hidden)Search Bar:
              input#search.form-control(type='text', placeholder='Search...' name='search')
              button(type='submit' class='searchButton')
                img(src='./images/search-regular-24.png' alt='Search Button Icon')



    main(class='content')
      block content

    footer(class='footer')
      p © Copyright 2023, 
       a(href='https://jordankarp.github.io/') Jordan Karp
