doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='sidebar')
      block sidebar
        div
          a(href='/') Home
          a(href='/data/recipes') All Recipes
          a(href='/data/categories') All Categories
          a(href='/data/tags') All Tags
        hr
        div
          a(href='/data/recipe/create') New recipe
          a(href='/data/category/create') New category
          a(href='/data/tag/create') New tag
        hr
        div
          form(method='POST' action='/search')
            div(style='display:flex')
              input#search.form-control(type='text', placeholder='Search...' name='search')
              button(type='submit' class='searchButton')
                img(src='/images/search-regular-24.png')

    div(class='content')
      block content
