extends layout

block content
  h1 #{recipe.title}
  
  p Do you really want to delete this recipe?

  form(method='POST' action='')
    div.form-group
      input#recipeid.form-control(type='hidden',name='recipeid', required='true', value=recipe._id )

    button.btn.btn-primary(type='submit') Delete
