extends layout

block content
  h1= title

  ol(class="bulletedList recipeList")
    each recipe in recipe_list
      li
        a(href=recipe.url) #{recipe.title}

    else
      li There are no recipes.