extends layout

block content
  h1 Please create an account below:

  form(method='POST' action='' name='registerForm')
    div.form-group
      label(for='username') Username:
      input#username(type='text' placeholder='Username' name='username' required='true' value=(undefined===user ? '' : user.username) )
      label(for='password') Password:
      input#password(type='password' placeholder='Password' name='password' required='true' value=(undefined===user ? '' : user.password))
      button#submit(type='submit' action='/catalog') Register
    
  p Or 
    a(href='/login') click here
    |  if you need to login instead.