*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00597c;
}

a:hover {
  color: #00B7FF;
}


hr {
  border-top: 1px solid #00597c;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.ingredients,
.directions {
  white-space: pre-wrap
}

.tagList {
  list-style: none;
  display: inline;
  padding: .3rem;
  margin: .3rem;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  list-style: none;

}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.sidebar a:hover {
  background-color: #00597c;
  color: white;
}


#search {
  flex-grow:1;
 }
 
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 95vh;
}

.random {
  background-color: #f1f1f1;
  padding: 1rem;
  margin: 1rem;
}
.control,
.addComment,
.update,
.delete {
  float: right;
  padding: 0.5rem;
}

#username,
#password,
#submit {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}

.req {
  color: red;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding: 2px 16px;
    border-radius: 4px;
    text-decoration: underline;
  }
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    padding: 8px;
  }
}