:root {
  --link-color: #00597c;
  --link-highlight-color: #00B7FF;
  --grey-color: #f1f1f1;
  --text-color: #000000;
  --background-color: #ffffff;
  --button-text-color: #ffffff;
  --button-text-hover_color: #000000;
}

.darkMode {
  --link-color: #ffffff;
  --link-highlight-color: #000000;
  --grey-color: #00B7FF;
  --text-color: #f1f1f1;
  --background-color: #00597c;
  --button-text-color: #000000;
  --button-text-hover_color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
  font-family: system-ui, sans-serif;
  border-radius: 4px;
  transition: all 0.2s;

}


/* Scrollbar Color */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--link-color);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}




/* BASIC TAG CSS */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-highlight-color);
}

hr {
  border-top: 1px solid var(--link-color);
}

ul {
  list-style: none;
  /* Remove default bullets */
}




/* SIDEBAR CONTENT */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--grey-color);
  position: fixed;
  height: 100%;
  overflow: auto;
  list-style: none;
}

.sidebar a {
  display: block;
  color: var(--text-color);
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: var(--link-color);
  color: var(--background-color);
}

#search {
  flex-grow: 1;
  padding: 16px 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchDiv {
  display: flex;
  box-sizing: border-box;
}

.searchDiv>* {
  border: 1px solid var(--link-color);
}

.searchButton {
  display: flex;
  background-color: var(--link-color);
  align-items: center;
  transition: all 0.3s;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.searchButton img {
  filter: invert(1)
}

.searchButton:hover {
  background-color: var(--link-highlight-color);
}

.searchButton:hover>img {
  filter: invert(0);
}


/* MAIN CONTENT CSS */
main.content {
  margin-left: 200px;
  padding: 2px 16px;
  height: 100%;
  min-height: 90vh;
}


/* HOMEPAGE CSS */
.random {
  background-color: var(--grey-color);
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.random h3 {
  margin-top: 0;
}

.newRandomBtn {
  color: var(--link-color);
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  top: -1.5rem;
  left: -0.5rem;
}

/* RECIPE CSS */
.ingredients,
.directions {
  white-space: pre-wrap
}

.tagList {
  list-style: none;
  display: inline;
  padding: .3rem;
  margin: .3rem;
}

.commentBody {
  padding: 0 1rem;
}


.recipeList {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.letterBox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.letterBox li {
  float: left;
}

.letterBox li a {
  display: inline-block;
  object-fit: contain;
  text-align: center;
  padding: 2px;
}

.bulletedList {
  display: inline-block;
  padding-left: 2rem;
  text-indent: -0.7rem;
}

.bulletedList li {
  padding: 0 2px;
  margin: 0 6px;
}


.bulletedList li::before {
  content: "\2022";
  color: var(--link-color);
  display: inline-block;
  width: .1rem;
}

.Hearts {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline;

  &::before {
    content: '♥♥♥♥♥';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--link-color) var(--percent), var(--grey-color) var(--percent));
    background-clip: text;
    /* background-clip: border-box; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* FORM CSS */
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--link-color);

}

.control,
.addComment,
.update,
.delete {
  float: right;
  padding: 0.5rem;
}

#submit {
  width: 100%;
  padding: .8rem;
  margin: 1rem auto;
  color: var(--button-text-color);
  background-color: var(--link-color);
  transition: all 0.3s;
  font-weight: bold;
}

#submit:hover {
  background-color: var(--link-highlight-color);
  color: var(--text-color);
}

.ratingForm {
  display: inline-block;
  position: relative;
  direction: rtl;
}

.ratingForm label {
  cursor: pointer;
  font-size: 2rem;
}

.ratingForm label::before {
  content: '\2661';
}

.ratingForm label:hover,
.ratingForm input:hover~label,
.ratingForm input:checked~label {
  color: var(--link-highlight-color);
}

.ratingForm input:checked~label:before {
  content: '\2665';
}


/* FOOTER CSS */
.footer {
  margin-left: 200px;
  text-align: center;
  position: sticky;
}


/* CSS CLASSES */

.indent {
  padding-left: 1rem;
}

.req {
  color: red;
}

/* MEDIA QUERIES*/
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
    padding: 6px;
    border-radius: 4px;
    text-decoration: underline;
  }

  hr {
    display: none;
  }

  .recipeList {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .searchDiv {
    margin: 2px 0 10px 0;
  }

  .footer,
  main.content {
    margin-left: 0;
  }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    padding: 8px;
  }
}